.THdeck {
  background-color: black;
  display:inline-block;
  position: relative;
  margin: 2px;
  
  @include responsive($lg) {
    margin: 20px;
  }
}

.THnocard {
  color: whitesmoke;
  position: relative;
  border: 2px solid gray;
  border-radius: 5px; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Lucida Console, Courier, monospace;
  height: $maxDeckHeightMobile;
  width: $maxDeckWidthMobile;

  @include responsive($lg) {
    height: $maxDeckHeight;
    width: $maxDeckWidth;
  }
}

.THcard {
  border: 2px solid gray;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index : 0;
}

.THcard img {
  height: $cardHeightMobile;

  @include responsive($lg) {
    height: $cardHeight;
  }
}
