.THfactionselection {
  background-color: black;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 60px 0;
}

.symbol {
  height: 300px;
  margin: 20px;
}


.unselected {
  height: 150px;
  margin: 20px;
  filter: grayscale(80%);
}

.selected {
  height: 200px;
  margin: 20px;
}
