
h2, h3 {
  color: whitesmoke;
  text-align: center;
}

.main {
  width: 100%;
}

.banner {
  background-color: black;
  padding: 50px;
  display: flex;
  justify-content: center;
  @include responsive($lg) {
    padding: 50px;
  }
}

.THbutton {
  color: white;
  background-color: #555555;
  font-size: 16px;
  padding: 15px 32px;
  margin: 5px;
}

.splash {
  margin: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash p {
  margin: 10px;
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
  width: 30em;
  @include responsive($lg) {
    margin: 40px;
    font-size: 23px;
    width: 30em;
  }
}

.splash a:link, a:visited {
  color: navajowhite;
  font-size: 20px;
  @include responsive($lg) {
    color: navajowhite;
    font-size: 23px;
  }
}

.helpSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 200px 0;
}

.hashLink {
  cursor: pointer;
  color: navajowhite;
  font-size: 23px;
  margin: 10px;
}

.helpSection img {
  margin: 20px;
  border: 2px solid antiquewhite;
}
