.THMDMmixeddeckmat {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.THMDMheader {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.THMDMheaderImg {
}

.THMDMheaderImgActivated {
  filter: grayscale(80%);
}

.THMDMcharacterDeck {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
