.THTeamSelteamselection {
  background-color: black;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.THTeamSelcharacters {
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.THTeamSelcharacter {
  margin: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.THTeamSelcharacter img {
  height: 70px;
  @include responsive($lg) {
    height: 100px;
  }
}

.THTeamSelcharacter h3 {
  font-size: 80%;
  @include responsive($lg) {
    font-size: 100%;
  }
}

.THTeamSelunselected {
  filter: grayscale(80%);
}


.THTeamSeldropDown {
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.THTeamSeldropdownContent {
  display: none;
  position: absolute;
  background-color: rgb(44, 43, 43);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
  /*left: 100px;*/
}

.THTeamSelpackSelectOption {
  padding: 2px;
}

/* Links inside the dropdown */
.THTeamSeldropdownContent .THTeamSelpackSelectOption {
  color: whitesmoke;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.THTeamSeldropdownContent .THTeamSelpackSelectOption:hover {background-color: rgba(169, 169, 169, 0.479)}

/* Show the dropdown menu on hover */
.THTeamSeldropDown:hover .THTeamSeldropdownContent {
  display: block;
}
