.teamselection {
  background-color: black;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.characters {
  /*background-image: linear-gradient(black, white), url('../img/Solo_Reich_cards/Rbacks-bw.png');
  background-repeat: no-repeat;
  background-position: right 35% bottom 45%;
  background-size: 70%;*/
  width: 30%;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.character {
  margin: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.unselected {
  filter: grayscale(80%);
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
  left: 100px;
}

.packSelectOption {
  padding: 2px;
}

/* Links inside the dropdown */
.dropdownContent .packSelectOption {
  color: whitesmoke;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdownContent .packSelectOption:hover {background-color: rgba(169, 169, 169, 0.479)}

/* Show the dropdown menu on hover */
.character:hover .dropdownContent {
  display: block;
}
