body { margin:0; } 

.content {
  grid-area: main;
  padding: 0px;
  justify-self: stretch;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
