$xl: 87.5em; // 4k and hi-res desktop
$lg: 60em; // 1080 and hi-res laptops
$med: 40em; // hi-res tablets and low-res laptops
$sm: 28em; // mobile and low-res tablets
$xs: 20em; // mobile only

@mixin responsive($query) {
  @media(min-width: + $query) {
    @content;
  }
}

$cardHeight: 500px; // original: 822 x 1122
$cardWidth: $cardHeight / 1122 * 822;
$maxCardsInDeck: 14;
$cardStackOffset: 5px;
$maxDeckHeight: $cardHeight + $maxCardsInDeck * $cardStackOffset;
$maxDeckWidth: $cardWidth + $maxCardsInDeck * $cardStackOffset;
$deckImageWidth: 250px;
$deckmatHeight: $maxDeckHeight + 300px;
$deckmatWidth: $maxDeckWidth * 2 + $deckImageWidth + 100px;

$mobileScale: 0.5;

$cardHeightMobile: $mobileScale * $cardHeight;
$cardWidthMobile: $mobileScale * $cardWidth;
$maxDeckHeightMobile: $cardHeightMobile + $maxCardsInDeck * $cardStackOffset;
$maxDeckWidthMobile: $cardWidthMobile + $maxCardsInDeck * $cardStackOffset;
$deckImageWidthMobile: $mobileScale * $deckImageWidth;
$deckmatHeightMobile: $maxDeckHeightMobile + 150px;
$deckmatWidthMobile: $maxDeckWidthMobile * 2 + $deckImageWidthMobile + 100px;
